In [15]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy<2,>=1.18 in /home/codespace/.local/lib/python3.10/site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /home/codespace/.local/lib/python3.10/site-packages (from statsmodels) (1.12.0)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in /home/codespace/.local/lib/python3.10/site-packages (from statsmodels) (2.2.1)
Collecting patsy>=0.5.4 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in /home/codespace/.local/lib/python3.10/site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2024.1)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Downloading statsmodels-0.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 44.7 MB/s eta 0:00:00:00:01:01
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 6.2 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import statsmodels.formula.api as sm

In [3]:
ds = pd.read_csv('dataset_fbw5.csv')
ds

,Page_total_likes,Type,Post_Month,Post_Weekday,Post_Hour,Payment,Lifetime_Post_Total_Reach,Lifetime_Post_Total_Impressions,Lifetime_Engaged_Users,Lifetime_Post_Consumers,Lifetime_Post_Consumptions,Lifetime_Post_Impressions_by_people_who_have_liked_your_Page,Lifetime_Post_reach_by_people_who_like_your_Page,Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post,comment,like,share,Total_Interactions
0,139441,Photo,12,4,3,Not_Paid,2752,5091,178,109,159,3078,1640,119,4,79,17,100
1,139441,Status,12,3,10,Not_Paid,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
2,139441,Photo,12,3,3,Not_Paid,2413,4373,177,113,154,2812,1503,132,0,66,14,80
3,139441,Photo,12,2,10,Paid,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,139441,Photo,12,2,3,Not_Paid,7244,13594,671,410,580,6228,3200,396,19,325,49,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,85093,Photo,1,7,10,Not_Paid,5400,9218,810,756,1003,5654,3230,422,10,125,41,176
491,85093,Photo,1,7,2,Not_Paid,4684,7536,733,708,985,4750,2876,392,5,53,26,84
492,81370,Photo,100,5,8,Not_Paid,3480,6229,537,508,687,3961,2104,301,0,53,22,75
493,81370,Photo,100,5,2,Not_Paid,3778,7216,625,572,795,4742,2388,363,4,93,18,115
494,81370,Photo,100,4,11,Not_Paid,4156,7564,626,574,832,4534,2452,370,7,91,38,136

In [8]:
ds_dummy = pd.get_dummies(ds[['Payment', 'Type']])
ds_dummied = pd.concat([ds_dummy, ds], axis=1)
ds_dummied

,Payment_Not_Paid,Payment_Paid,Type_Link,Type_Photo,Type_Status,Type_Video,Page_total_likes,Type,Post_Month,Post_Weekday,...,Lifetime_Engaged_Users,Lifetime_Post_Consumers,Lifetime_Post_Consumptions,Lifetime_Post_Impressions_by_people_who_have_liked_your_Page,Lifetime_Post_reach_by_people_who_like_your_Page,Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post,comment,like,share,Total_Interactions
0,True,False,False,True,False,False,139441,Photo,12,4,...,178,109,159,3078,1640,119,4,79,17,100
1,True,False,False,False,True,False,139441,Status,12,3,...,1457,1361,1674,11710,6112,1108,5,130,29,164
2,True,False,False,True,False,False,139441,Photo,12,3,...,177,113,154,2812,1503,132,0,66,14,80
3,False,True,False,True,False,False,139441,Photo,12,2,...,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,True,False,False,True,False,False,139441,Photo,12,2,...,671,410,580,6228,3200,396,19,325,49,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,True,False,False,True,False,False,85093,Photo,1,7,...,810,756,1003,5654,3230,422,10,125,41,176
491,True,False,False,True,False,False,85093,Photo,1,7,...,733,708,985,4750,2876,392,5,53,26,84
492,True,False,False,True,False,False,81370,Photo,100,5,...,537,508,687,3961,2104,301,0,53,22,75
493,True,False,False,True,False,False,81370,Photo,100,5,...,625,572,795,4742,2388,363,4,93,18,115
494,True,False,False,True,False,False,81370,Photo,100,4,...,626,574,832,4534,2452,370,7,91,38,136

In [19]:
#Dependent Lifetime engaged 
# Independent status, video, link(LIKE?), paid and post month

model1 = sm.ols('Lifetime_Engaged_Users ~ Type_Status + Type_Video + Type_Link + Payment_Paid + Post_Month', data = ds_dummied).fit()
print(model1.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Lifetime_Engaged_Users   R-squared:                       0.172
Model:                                OLS   Adj. R-squared:                  0.164
Method:                     Least Squares   F-statistic:                     20.35
Date:                    Thu, 21 Mar 2024   Prob (F-statistic):           1.81e-18
Time:                            13:36:36   Log-Likelihood:                -4068.3
No. Observations:                     495   AIC:                             8149.
Df Residuals:                         489   BIC:                             8174.
Df Model:                               5
Covariance Type:                nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              840.6112     64.748     12.983      0.000     713.393     967.830
Type_Status[T.True]   1248.4383    141.977      8.793      0.000     969.478    1527.398
Type_Video[T.True]     832.3740    345.418      2.410      0.016     153.688    1511.060
Type_Link[T.True]     -490.5411    197.593     -2.483      0.013    -878.777    -102.306
Payment_Paid[T.True]   254.0130     90.809      2.797      0.005      75.588     432.438
Post_Month             -11.6112      5.147     -2.256      0.025     -21.724      -1.499
==============================================================================
Omnibus:                      546.973   Durbin-Watson:                   1.824
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            42746.831
Skew:                           4.953   Prob(JB):                         0.00
Kurtosis:                      47.435   Cond. No.                         93.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
#Cook's D method to find the outliers and add to df
cooks_d = model1.get_influence().cooks_distance
n = len(ds_dummied)
ds_dummied['Outlier'] = cooks_d[0] > 4/n
#get a df with outliers and inspect and without
w_outlier_ds = ds_dummied[ds_dummied.Outlier == True]
no_outlier_ds = ds_dummied[ds_dummied.Outlier == False]

no_outlier_ds

,Payment_Not_Paid,Payment_Paid,Type_Link,Type_Photo,Type_Status,Type_Video,Page_total_likes,Type,Post_Month,Post_Weekday,...,Lifetime_Post_Consumers,Lifetime_Post_Consumptions,Lifetime_Post_Impressions_by_people_who_have_liked_your_Page,Lifetime_Post_reach_by_people_who_like_your_Page,Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post,comment,like,share,Total_Interactions,Outlier
0,True,False,False,True,False,False,139441,Photo,12,4,...,109,159,3078,1640,119,4,79,17,100,False
1,True,False,False,False,True,False,139441,Status,12,3,...,1361,1674,11710,6112,1108,5,130,29,164,False
2,True,False,False,True,False,False,139441,Photo,12,3,...,113,154,2812,1503,132,0,66,14,80,False
3,False,True,False,True,False,False,139441,Photo,12,2,...,790,1119,61027,32048,1386,58,1572,147,1777,False
4,True,False,False,True,False,False,139441,Photo,12,2,...,410,580,6228,3200,396,19,325,49,393,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,False,True,False,True,False,False,85979,Photo,1,6,...,901,1140,6085,3502,437,1,105,46,152,False
488,True,False,True,False,False,False,85979,Link,1,5,...,655,763,15766,10720,220,0,128,9,137,False
489,True,False,False,True,False,False,85093,Photo,1,1,...,1111,1632,8632,5348,699,17,185,55,257,False
490,True,False,False,True,False,False,85093,Photo,1,7,...,756,1003,5654,3230,422,10,125,41,176,False
491,True,False,False,True,False,False,85093,Photo,1,7,...,708,985,4750,2876,392,5,53,26,84,False

In [24]:
#without outliers
model2 = sm.ols('Lifetime_Engaged_Users ~ Type_Status + Type_Video + Type_Link + Payment_Paid + Post_Month', data = no_outlier_ds).fit()
print(f'Regression with outliers {model1.summary()}')

Regression with outliers                               OLS Regression Results
==================================================================================
Dep. Variable:     Lifetime_Engaged_Users   R-squared:                       0.172
Model:                                OLS   Adj. R-squared:                  0.164
Method:                     Least Squares   F-statistic:                     20.35
Date:                    Thu, 21 Mar 2024   Prob (F-statistic):           1.81e-18
Time:                            13:40:51   Log-Likelihood:                -4068.3
No. Observations:                     495   AIC:                             8149.
Df Residuals:                         489   BIC:                             8174.
Df Model:                               5
Covariance Type:                nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              840.6112     64.748     12.983      0.000     713.393     967.830
Type_Status[T.True]   1248.4383    141.977      8.793      0.000     969.478    1527.398
Type_Video[T.True]     832.3740    345.418      2.410      0.016     153.688    1511.060
Type_Link[T.True]     -490.5411    197.593     -2.483      0.013    -878.777    -102.306
Payment_Paid[T.True]   254.0130     90.809      2.797      0.005      75.588     432.438
Post_Month             -11.6112      5.147     -2.256      0.025     -21.724      -1.499
==============================================================================
Omnibus:                      546.973   Durbin-Watson:                   1.824
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            42746.831
Skew:                           4.953   Prob(JB):                         0.00
Kurtosis:                      47.435   Cond. No.                         93.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
print(f'Regression without outliers {model2.summary()}')

Regression without outliers                               OLS Regression Results
==================================================================================
Dep. Variable:     Lifetime_Engaged_Users   R-squared:                       0.317
Model:                                OLS   Adj. R-squared:                  0.310
Method:                     Least Squares   F-statistic:                     43.25
Date:                    Thu, 21 Mar 2024   Prob (F-statistic):           1.33e-36
Time:                            13:41:50   Log-Likelihood:                -3619.5
No. Observations:                     471   AIC:                             7251.
Df Residuals:                         465   BIC:                             7276.
Df Model:                               5
Covariance Type:                nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept             1098.6859     60.219     18.245      0.000     980.350    1217.022
Type_Status[T.True]   1195.5694     95.701     12.493      0.000    1007.510    1383.629
Type_Video[T.True]    1235.0669    375.786      3.287      0.001     496.618    1973.515
Type_Link[T.True]     -481.8382    118.467     -4.067      0.000    -714.636    -249.040
Payment_Paid[T.True]   110.7783     54.514      2.032      0.043       3.654     217.902
Post_Month             -52.8402      7.563     -6.987      0.000     -67.702     -37.979
==============================================================================
Omnibus:                      195.714   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              770.851
Skew:                           1.883   Prob(JB):                    4.09e-168
Kurtosis:                       8.009   Cond. No.                         120.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1]:
import pandas as pd

df = pd.read_csv('insurance_missings.csv')
df.head()

   age     sex    bmi  children smoker     region      charges
0   19  female  27.90         0    yes  southwest  16884.92400
1   31  female  25.74         0     no  southeast   3756.62160
2   60  female  25.84         0     no  northwest  28923.13692
3   62  female  26.29         0    yes  southeast  27808.72510
4   56  female  39.82         0     no  southeast  11090.71780

In [3]:
#Check how many missing values there are
df.isnull().sum()

#It seems BMI and Smoker have missing values

age           0
sex           0
bmi         197
children      0
smoker      106
region        0
charges       0
dtype: int64

In [5]:
#Prepare the data

#delete the missings
df2 = df.dropna()
df2.isnull().sum()

#create dummies
df2 = pd.get_dummies(df2)
df2.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.92400,True,False,False,True,False,False,False,True
1,31,25.74,0,3756.62160,True,False,True,False,False,False,True,False
2,60,25.84,0,28923.13692,True,False,True,False,False,True,False,False
3,62,26.29,0,27808.72510,True,False,False,True,False,False,True,False
4,56,39.82,0,11090.71780,True,False,True,False,False,False,True,False

In [6]:
#Run the model

import statsmodels.formula.api as sm
model1 = sm.ols('charges~age+bmi+children+sex_male+smoker_yes', data = df2).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.760
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     660.9
Date:                Thu, 21 Mar 2024   Prob (F-statistic):          1.51e-320
Time:                        14:17:18   Log-Likelihood:                -10655.
No. Observations:                1051   AIC:                         2.132e+04
Df Residuals:                    1045   BIC:                         2.135e+04
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept          -1.232e+04   1087.524    -11.328      0.000   -1.45e+04   -1.02e+04
sex_male[T.True]    -356.9742    384.609     -0.928      0.354   -1111.669     397.721
smoker_yes[T.True]   2.46e+04    471.315     52.195      0.000    2.37e+04    2.55e+04
age                  268.4867     13.417     20.011      0.000     242.159     294.815
bmi                  321.2816     31.371     10.241      0.000     259.723     382.840
children             487.6372    161.389      3.022      0.003     170.954     804.320
==============================================================================
Omnibus:                      225.441   Durbin-Watson:                   1.941
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              545.152
Skew:                           1.143   Prob(JB):                    4.19e-119
Kurtosis:                       5.687   Cond. No.                         295.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
#----------using imputation

#Create dummy variables for the missing data in the categorical variables (in this case smoker)

data = pd.get_dummies(df, dummy_na=True)

#use IterativeImputer to impute the remaining variables
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

#impute the data
imputed_data = IterativeImputer().fit_transform(data)
#Save the data as a pandas dataframe and import the column names from the original dataset
imputed_data = pd.DataFrame(imputed_data, columns=data.columns)

#Run the new model
model2 = sm.ols('charges~age+bmi+children+sex_male+smoker_yes+smoker_nan', data = imputed_data).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     517.0
Date:                Thu, 21 Mar 2024   Prob (F-statistic):               0.00
Time:                        14:18:11   Log-Likelihood:                -13673.
No. Observations:                1338   AIC:                         2.736e+04
Df Residuals:                    1331   BIC:                         2.740e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.292e+04   1090.665    -11.842      0.000   -1.51e+04   -1.08e+04
age          255.9949     13.061     19.600      0.000     230.373     281.617
bmi          349.5206     31.888     10.961      0.000     286.965     412.076
children     515.9030    154.591      3.337      0.001     212.634     819.172
sex_male    -156.2160    365.266     -0.428      0.669    -872.777     560.345
smoker_yes  2.401e+04    475.831     50.449      0.000    2.31e+04    2.49e+04
smoker_nan  6023.1585    695.418      8.661      0.000    4658.924    7387.393
==============================================================================
Omnibus:                      328.738   Durbin-Watson:                   1.909
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              822.337
Skew:                           1.304   Prob(JB):                    2.70e-179
Kurtosis:                       5.819   Cond. No.                         309.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.